@import url('https://fonts.googleapis.com/css?family=Architects+Daughter|Luckiest+Guy|Raleway');
.header {
    background-image: 
    url("./images/red_kazoobie_large.jpg");
   background-repeat: repeat;
   font-family: 'Luckiest Guy', sans-serif;
   text-shadow: 5px 5px white;
    color: #1C143F;
    text-align: center;
    width: 100%;
    height: 200px;
    margin: auto;
    font-size: 40px;
  
    /* display:flex; */
    Overflow: hidden;

}
.shrink {
    flex-shrink: 2;
}
.flexRow {
    display: flex;
    flex-flow: row wrap;
    align-content: space-evenly; 
    width:100%;
}
.flexRowM {
    display: flex;
    flex-flow: row wrap;
    align-content: space-evenly; 
    width: 75%
}
.floatLeft {
    float:left;
}
.floatRight {
    float: right;
}
.flexCol {
    display: flex;
    flex-flow: column wrap;
    align-content: space-evenly; 
    width:100%;
}
.flexColA {
    display: flex;
    flex-flow: column wrap;
    width:25%;
}
.flexColAItem {
    display: flex;
    flex-flow: column wrap;
    width:20%;
    align-content: center;
}
.asideDivWidth {
    width: 100px;
    padding-top:3px;
    padding-bottom:3px; 
}
.clear {
    clear: both;
}
.navItem {
    flex-grow: 1;
    flex-basis: calc(30% - 30px);
    margin: 5px;
    padding-right:10px;
    padding-left:10px;
    text-align: center;
    background-color: #FF7044;
    color: #1C143F;
    /* font-family: 'Raleway', sans-serif; */
    text-decoration: none;
    font-family: 'Luckiest Guy', sans-serif;
    text-shadow: 2px 2px 1px white;
    box-shadow: 2px 2px 1px #C7C78F;
    letter-spacing: 1px;
}
.active {
    background-color: #FFC53A;
}

.navItem:hover {
    background-color:#FAFF81;
}

.footer {
    width: 100%;
    padding: 20px;
    background-color: #FF7044;
    margin-top: 20px;
    color: #1C143F;
}
.footerImg {
max-width: 150px;
clear: top;
display:block; 
margin: auto;
}
.smallDecText{
    text-align: center;
    /* font-family: 'Architects Daughter', cursive; */
}
.largeDecText{
    text-align: center;
    /* font-family: 'Architects Daughter', cursive; */
    font-size: 30px;
}

.bodyStyle{
background-color: #F2F3AE;
}
.mainDivStyle {
    flex-grow:1;
    flex-basis: calc(25% - 50px);
    margin: 5px;
    padding-right:10px;
    padding-left:10px;
    text-align: center;
    background-color: white;
    color: #1C143F;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    box-shadow: 1px 1px 1px #C7C78F;
}

.asideDivStyle {
    flex-grow: 1;
    flex-basis: calc(20% - 0px);
    margin: 5px;
    text-align: center;
    background-color: #FFC53A;
    box-shadow: 1px 1px 1px #C7C78F;
}
.asideFont {
    color: #2A2833;
    font-family: 'Luckiest Guy', sans-serif;
    text-shadow: 2px 1px white;
    text-decoration: none;
    letter-spacing: 1px;
    padding-top:10px;
    padding-bottom:3px; 
}

.asidePadding {
    padding-top:10px;
    padding-bottom:3px; 
}
.asideWidth {
    width: calc(100% - 12px);

}
.imgSale {
    width: 150px;
    display: block;
    margin: 1px;
    float: left;

}
.flexGrow {
    flex-grow: 1;
}
.margin10 {
    margin: 10px;
}
.imgSale:hover {
    flex-grow: 3;
}
.heightItem {
    height: 350px; 
}
.width100 {
    width:100%;
}
.button {
    width: 10vw;
    flex-grow: 1;
}
.heightAll {
    min-height:300px !important;
}
.tyImg {
    max-height: 300px;
    flex-grow: 1;
    align: center;
    margin: 5px;
}
.marginTB {
    margin-top: 5px;
    margin-bottom: 5px;
}

.marginSide{
    margin-right: 5px;
    margin-left: 5px;
}
